@model Laborator8App.Models.ApplicationUser

@{
    /**/

    ViewBag.Title = "Editare rol utilizator";
}

<ol class="breadcrumb" style="background: rgb(153,27,29);
background: linear-gradient(254deg, rgba(153,27,29,1) 11%, rgba(85,10,10,1) 61%) !important">
    <li><h3>@ViewBag.Title</h3></li>
</ol>
<div style=" color:black; background: rgb(153,27,29);
background: linear-gradient(254deg, rgba(153,27,29,1) 11%, rgba(85,10,10,1) 61%) !important">
    @using (Html.BeginForm(actionName: "Edit", controllerName: "Users", routeValues: new { id = @Model.Id }))
    {
        @Html.HttpMethodOverride(HttpVerbs.Put)

        <br />

        <i class="glyphicon glyphicon-user"></i>
        @Html.Label("UserName", "Nume utilizator", new { @class = "" })

        <br />

        @Html.EditorFor(m => m.UserName)

        <br /><br />

        <i class="glyphicon glyphicon-envelope"></i>
        @Html.Label("Email", "Email utilizator", new { @class = "" })

        <br />

        @Html.EditorFor(m => m.Email)

        <br /><br />

        <i class="glyphicon glyphicon-phone"></i>
        @Html.Label("PhoneNumber", "Numar telefon")

        <br />

        @Html.EditorFor(m => m.PhoneNumber)

        <br /><br />

        <i class="glyphicon glyphicon-th-list"></i>
        <label>Selectati rolul</label>
        <center>
            @Html.DropDownList("newRole", new SelectList(Model.AllRoles, "Value", "Text", ViewBag.userRole), null, new { @class = "form-control" })
        </center>
        <br />

        <button class="btn btn-sm btn-success" type="submit">Modifica datele utilizatorului</button>


    }


</div>