@model  Laborator8App.Models.Comment
@{
    ViewBag.Title = "Edit";
}
<form method="post" action="/Comments/Edit/@Model.CommentId">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <br />
    @Html.HiddenFor(m => m.CommentId)
    <br />
    @Html.Label("Content", "Content")
    <br />
    @Html.EditorFor(m => m.Content)
    @Html.ValidationMessage("Content", "", new { @class = "text-danger" })
    <br /><br />
    <button class="btn btn-sm btn-success" type="submit">Modifica comentariu</button>
</form>