@{
    ViewBag.Title = "Edit";
}
<form method="post" action="/Tasks/Edit/@ViewBag.Task.TaskId">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <br />
    <label>Titlu articol</label>
    <br />
    <input type="text" name="Title" value="@ViewBag.Task.Title" />
    <br /><br />
    <label>Continut articol</label>
    <br />
    <input type="text" name="Status" value="@ViewBag.Task.Status" />
    <br /><br />
    <label>Continut articol</label>
    <br />
    <input type="text" name="Content" value="@ViewBag.Task.Content" />
    <br /><br />
    <label>StartData</label>
    <br />
    <input type="date" name="StartDate" value="@ViewBag.Task.StartDate" />
    <br />
    <label>EndDate</label>
    <br />
    <input type="date" name="EndDate" value="@ViewBag.Task.EndDate" />
    <br />
    <input type="hidden" name="ProjectId" value="@ViewBag.Task.ProjectId" />

    <br />
    <button type="submit">Modifica articol</button>
</form>


