

@{
    /**/

    ViewBag.Title = "Afisare Task";
}
<h1>@ViewBag.Message</h1>
<h2>@ViewBag.Title</h2>

<p>@ViewBag.Task.Title</p>
<p>Lista comentarii ptentru task-ul @ViewBag.Task.Title</p>
@foreach (var comment in ViewBag.Comments)
{
    <p>@comment.Content</p>
    <form method="post" action="/Comments/Delete/@comment.CommentId">
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button class="btn btn-danger pull-right" type="submit">Sterge comentariu</button>
    </form>
    <a class="btn btn-success pull-left" href="/Comments/Edit/@comment.CommentId">Modifica comentariu</a>

    <br />
    <hr />
    <br />
}
<a class="btn btn-info" href="/Comments/New/@ViewBag.Task.TaskId">Adauga comentariu</a>

<br />
<a class="btn btn-success" href="/Teams/Show/@ViewBag.Task.TeamId">Afisare lista task-uri</a>
<br />
<hr />
<br />