

@{
    /**/

    ViewBag.Title = "Afisare Echipa";
}

<h2>@ViewBag.Title</h2>

<p>@ViewBag.Task.Title</p>
<p>Lista Comment pt = @ViewBag.Task.Title</p>
@foreach (var comment in ViewBag.Comments)
{
    <p>@comment.Content</p>
    <form method="post" action="/Comments/Delete/@comment.CommentId">
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button class="btn btn-danger pull-right" type="submit">Delete Comment</button>
    </form>
    <a class="btn btn-success pull-left" href="/Comments/Edit/@comment.CommentId">Modifica comment</a>

    <br />
    <hr />
    <br />
}
<a class="btn btn-info" href="/Comments/New/@ViewBag.Task.TaskId">New Comment</a>

<br />
<a class="btn btn-success" href="/Teams/Index/">Afisare lista echipe</a>
<br />
<hr />
<br />