@{
    ViewBag.Title = "AddMember";
}

<h2>@ViewBag.IdEchip</h2>
@foreach (var user in ViewBag.Users)
{
    <h1>@user.UserName</h1>
    <p>@user.Email</p>
    <br />
    <form method="post" action="/Members/AddMember">
        <input type="hidden" name="UserId" value="@user.Id" />
        <input type="hidden" name="TeamId" value="@ViewBag.IdEchip" />
        <button type="submit">Add Friend</button>
    </form>
    <hr />
    <ul>
    </ul>
    <hr />
}
