
@{
    /**/

    ViewBag.Title = "Afisare Echipa";
}
<h2>@ViewBag.Message</h2>
<h1 style="color:white !important">@ViewBag.Team.TeamName</h1>
<hr />
@foreach (var proj in ViewBag.Projects)
{
    <h2 style="color:white !important">@proj.ProjectName</h2><br />
    if (User.IsInRole("Admin") || ViewBag.UserIdCur == ViewBag.Team.UserId)
    {
        <a class="btn btn-success pull-left" href="/Projects/Edit/@proj.ProjectId">Modifica proiect</a>}

    <a class="btn btn-success pull-left" href="/Projects/Show/@proj.ProjectId">Afiseaza proiect</a>
    if (User.IsInRole("Admin") || ViewBag.UserIdCur == ViewBag.Team.UserId)
    {
        <form method="post" action="/Projects/Delete/@proj.ProjectId">
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <button class="btn btn-danger pull-right" type="submit">Sterge proiect</button>
        </form>
    }
    <br />
    <br />

}
<hr />

<center>
    @if (User.IsInRole("Admin") || ViewBag.UserIdCur == ViewBag.Team.UserId)
    {
        <a class="btn btn-info" href="/Projects/New/@ViewBag.Team.TeamId">Adauga proiect</a>
    }

    <br />
    @if (User.IsInRole("Admin") || ViewBag.UserIdCur == ViewBag.Team.UserId)
    {
        <a class="btn btn-success" href="/Teams/Edit/@ViewBag.Team.TeamId">Editare echipa</a>
        <form method="post" action="/Teams/Delete/@ViewBag.Team.TeamId">
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <button class="btn btn-danger" type="submit">Sterge echipa</button>
        </form>
    }
</center>

<br />
<hr />
<br />
@if (User.IsInRole("Admin") || ViewBag.UserIdCur == ViewBag.Team.UserId)
{
    <form method="post" action="/Members/AddMember">
        <input type="text" name="UserName" />
        <input type="hidden" name="TeamId" value="@ViewBag.Team.TeamId" />
        <br />
        <button class="btn btn-info"type="submit">Adauga Membru</button>
    </form>

}

<br />
<br />
<a class="btn btn-success" href="/Teams/Index/">Afisare lista echipe</a>






































<!--@{
    /**/

    ViewBag.Title = "Afisare Echipa";
}

<h2>@ViewBag.Title</h2>

<p>@ViewBag.Team.TeamId</p>
@foreach (var proj in ViewBag.Projects)
{
    <p>@proj.ProjectName</p><br />
    if (User.IsInRole("Admin") || ViewBag.UserIdCur == ViewBag.Team.UserId)
    {
        <a class="btn btn-success pull-left" href="/Projects/Edit/@proj.ProjectId">Modifica proj</a>}

    <a class="btn btn-success pull-left" href="/Projects/Show/@proj.ProjectId">Afis proj</a>
    if (User.IsInRole("Admin") || ViewBag.UserIdCur == ViewBag.Team.UserId)
    {
        <form method="post" action="/Projects/Delete/@proj.ProjectId">
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <button class="btn btn-danger pull-right" type="submit">Delete Proj</button>
        </form>
    }
    <br />
    <br />

}
@if (ViewBag.UserIdCur == ViewBag.Team.UserId)
{
    <a class="btn btn-info" href="/Projects/New/@ViewBag.Team.TeamId">New Project</a>
}

<br />
@if (User.IsInRole("Admin") || ViewBag.UserIdCur == ViewBag.Team.UserId)
{
    <a class="btn btn-success" href="/Teams/Edit/@ViewBag.Team.TeamId">Editare Echipa</a>
    <form method="post" action="/Teams/Delete/@ViewBag.Team.TeamId">
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button class="btn btn-danger pull-right" type="submit">Delete Echipa</button>
    </form>
}
<br />
<hr />
<br />
@if (User.IsInRole("Admin") || ViewBag.UserIdCur == ViewBag.Team.UserId)
{
    <form method="post" action="/Members/AddMember">
        <input type="text" name="UserName" />
        <input type="hidden" name="TeamId" value="@ViewBag.Team.TeamId" />
        <button type="submit">Add Friend</button>
    </form>

}
<br />
<hr />
<br />
<a class="btn btn-success" href="/Teams/Index/">Afisare lista echipe</a>

<br />
<a class="btn btn-info" href="/Members/Index/@ViewBag.Team.TeamId">Add Member</a>


<hr />
<br />
<br />
<hr />
<br />

-->
